* {
  font-family: poppins, sans-serif;

}

.bg_empty {
  width: 360px;
  height: 24px;
  background-color: #4A4A4A;
}

.header {
  .header__deliver {
    display: none;
  }

  .header__wrapper {
    width: 360px;
    height: 72px;
    background-image: url("../assets/mobileStates/bgPictureGreen.svg");

    .header__gradient {
      background: linear-gradient(180deg, rgba(51, 51, 51, 0.2) 10.31%, rgba(27, 27, 27, 0.1) 58.6%, rgba(0, 0, 0, 0.0001) 100%);

      .header__main {
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding-left: 0;
        padding-top: 2px;

        .header__buttons {
          display: flex;

          .header__menu_btn {
            display: block;
            border: none;
            padding-top: 1px;
            margin: 19px 16px 16px 15px;
            padding-left: 0;
            padding-right: 0;
            width: 20px;
            height: 17px;
            background: transparent url(../assets/img/menuBurger.svg);
          }

          .header__search_btn {
            display: block;
            border: none;
            padding-top: 0;
            margin: 16px 0 15px;
            width: 19px;
            height: 19px;
            background: transparent url(../assets/img/searchMobileWhite.svg);
          }

          .header__close_btn {
            display: block;
            border: none;
            padding-top: 3px;
            margin: 18px 0 15px;
            width: 16px;
            height: 16px;
            background: transparent url(../assets/img/closeBtn.svg);
          }
        }

        .header__logo {
          margin-top: 0;
          padding: 0;
          text-decoration: none;
          color: #fff;
          margin-left: 0;
          font-weight: 600;
          font-size: 29px;
          line-height: 57px;
          letter-spacing: 0.95px;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
        }

        .form__search {
          display: none;

        }

        .login {
          position: relative;
          color: white;
          padding-top: 13px;
          margin-right: 67px;
          font-weight: 600;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 1px;

          .login__item {
            margin: 0 5px;
            text-decoration: none;
            color: white;
          }

          .login__desc {
            display: none;
          }

          .login__item__cart {
            position: absolute;
            top: 14px;
            bottom: 23px;
            right: -21px;
            width: 16px;
            height: 24px;
          }

          .login__item__cart__state2 {
            bottom: 23px;
            right: -51px;
            width: 22px;
            height: 22px;
          }

          .login__item__products {
            display: block;
            position: absolute;
            top: 16px;
            bottom: 23px;
            right: -51px;
            width: 22px;
            height: 22px;
          }

        }

      }

      .header__nav {
        display: none;
      }
    }

    .header__welcome {
      display: none;
    }

  }

  .header__wrapper__state3 {
    width: 360px;
    height: 112px;
    background-image: none;

    .header__gradient__state3 {
      background: none;

      .header__main__state3 {

        .header__buttons {
          .header__menu_btn {
            height: 15px;
            background: transparent url('../assets/mobileStates/menuBurgerBlack.svg');
          }


        }


        .header__logo,
        {
          color: black;
        }

      }

      .form__search {
        position: relative;
        padding: 0 0 10px 12px;

        input {
          padding-left: 16px;
          padding-right: 34px;
          width: calc(328px - 16px - 17px - 17px);
          height: 40px;
          font-weight: 500;
          font-size: 11px;
          color: #000;
          background: rgba(#F7F7F7, 1);
          border-radius: 3px;
          border: 1px solid #F2F2F2;
        }

        input::placeholder {
          color: #000;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 0.8px;
        }

        img {
          position: absolute;
          top: 10px;
          right: 28px;
        }
      }
    }
  }

  .header__wrapper__state4 {
    height: 48px;

    .header__gradient__state3 {
      .header__main__state3 {
        .header__buttons {
          .header__search_btn_black {
            display: block;
            border: none;
            padding-top: 0;
            margin: 16px 0 15px;
            width: 17px;
            height: 17px;
            background: transparent url(../assets/mobileStates/searchBlack.svg);
          }
        }
      }

    }
  }
}

.st4 {
  height: 48px;
}

.register {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;

  .register__text {
    width: 328px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.872727px;
    margin-top: 24px;
  }

  .register__form {
    margin-bottom: 0;


    input {
      width: calc(224px - 10px - 12px);
      border: 1px solid #E1E0E1;
      border-radius: 3px;
      padding: 8px 9px;
      margin: 14px 7px 25px auto;
    }

    input::placeholder {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.8px;
      color: #4A4A4A;
    }

    button {
      width: 94px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 1px;
      border-radius: 3px;
      background: #000;
      color: #fff;
      border: none;
      padding: 6px 20px;
    }
  }
}

.footer {
  width: 360px;
  background: #F7F7F7;

  .footer__items {
    display: block;
    padding-top: 4px;

    .footer__item {
      width: calc(328px - 32px);
      margin-left: 16px;
      margin-right: 40px;
      margin-top: 0;
      padding: 12.5px 16px;
      border-bottom: 1px solid #E1E0E1;

      .item__title {
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
        font-weight: 900;
        line-height: 19px;
        letter-spacing: 1.16364px;

      }

      .item__title:after {
        content: url("../assets/img/>.svg");
        float: right;
      }

      .active:after {
        content: url("../assets/img/down.svg");
      }

      .footer__list {
        display: none;
        overflow: hidden;
        list-style: none;
        padding: 0;
        color: #000000;
        max-height: 0;
        transition: max-height 0.2s ease-out;

        .item__body {
          margin: 6px 0;

          .item__link {
            text-decoration: none;
            color: #000000;
            font-weight: 400;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 0.1px;
          }
        }

      }

    }

    .footer__item__first {
      margin-right: 48px;
    }

    .footer__list__four {
      margin-top: 19px;
    }

    .footer__list__five {
      display: flex;
      justify-content: center;

      img {
        margin-right: 26px;
      }
    }

    .footer__item__five {
      display: none;
    }

    .footer__list__social {
      list-style: none;
      padding-left: 0;
      margin-top: 23px;
      margin-bottom: 13px;

      img {
        margin-right: 0;
      }

      li {
        margin: 0 12px;
      }

      li:nth-child(2) {
        margin-top: 2px;
      }

      li:nth-child(5) {
        margin-top: 2px;
      }
    }
  }

  .footer__end {
    display: none;
    text-align: center;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.5px;
    padding-top: 0;
    padding-bottom: 14px;
  }

  .footer__end__mobile {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.5px;
    padding-top: 0;
    padding-bottom: 14px;
  }
}





